$dot-radius: 0.3rem;
$dot-size: $dot-radius * 2;
$offset: $dot-radius * 1.5;

.dates-day {
  position: relative;
}

.dates-line-top {
  display: inline-block;
  position: absolute;
  left: $offset;
  top: 0;
  height: $offset;
  z-index: 0;
}

.dates-dot {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: $dot-radius * 0.5; // save room for today's larger size
  top: $offset;
  height: $dot-size;
  width: $dot-size;
  z-index: 1;

  &.dates-bg-today {
    left: 0;
    top: $offset - $dot-radius;
    height: $dot-size * 1.5;
    width: $dot-size * 1.5;
  }
}

.dates-line-bottom {
  display: inline-block;
  position: absolute;
  top: $offset + $dot-size;
  bottom: 0;
  left: $offset;
  z-index: 0;
}

.dates-bg-today {
  background: #ffdb87;
}

.courseDateWrapper {
  margin-top: 32px !important;
  margin-bottom: 24px !important;
  .h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #111827;
  }
  .dateFormat {
    color: #111827;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0 !important;
    .todayStatus {
      background-color: #d1fae5 !important;
      color: #273f2f !important;
      border-radius: 100px !important;
      font-weight: 500 !important;
      font-size: 14px !important;
      line-height: 16px !important;
      padding: 2px 10px !important;
      margin-left: 43px !important;
    }
  }
  .courseStatus {
    color: #515661 !important;
    font-size: 14px;
    line-height: 20px;
    .small {
      .font-weight-bold {
        font-weight: 400 !important;
      }
    }
  }

  .dates-dot {
    // display: inline-block;
    // transform: rotate(45deg);
    // height: 25px;
    // width: 12px;
    // margin-left: 60%; 
    // border-bottom: 7px solid #78b13f;
    // border-right: 7px solid #78b13f;
  }

}
