.course-tabs-navigation {
  position: relative;
  // border-bottom: solid 1px #eaeaea;

  .nav a,
  .nav button {
    &:hover {
      background-color: $light-400;
    }
  }

  .nav a {
    &:not(.active):hover {
      background-color: $light-400;
      border-bottom: none;
    }
  }

  &__search-toggle {
    position: absolute;
    top: 0.05rem;
    right: 0;
  }
}

// Mubeen Code
#courseTabsNavigation {
  &.course_tabs_wrapper {
    border-bottom: 0;
    margin-top: 20px !important;
    margin-bottom: 36px !important;
    .nav-underline-tabs {
      border-bottom: 1px solid #f2f7f8;
      gap: 48px;
      .nav-link {
        border-top: 0;
        padding: 10px 16px;
        border-bottom: 4px solid transparent;
        font-size: 16px;
        font-weight: 500 !important;
        &:hover, &.active {
          border-bottom: 4px solid #4600c7;
          background-color: transparent;
        font-weight: 500 !important;

        }
      }
    }
  }
}

.course-main-wrapper {
  .course-main-heading {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
  }
  .course-outline-tab {
    .raised-card {
      .pgn {
        &__card {
          &-header {
            padding: 0;
            align-items: center;
            &-content {
              margin: 0 !important;
            }
            &-actions {
              gap: 16px;
              margin: 0 !important;
              .btn-brand {
                background-color: #4600c7;
                border-radius: 6px;
                padding: 9px 17px;
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }

      padding: 14px 20px 0 20px;
      background-color: #f3f3f3;
      font-size: 18px;
      line-height: 24px;
      border-radius: 6px;
      box-shadow: unset !important;
      margin-bottom: 16px !important;
    }
  }
  .expendWrapper {
    .btn-outline-primary {
      padding: 10px 17px;
      color: #111827;
      font-size: 16px;
    }
  }
  .course-section-list {
    .pgn_collapsible {
      border: 1px solid #f3f3f3;
      border-left: 8px solid #f3f3f3;
      border-radius: 5px;
      .collapsible-trigger {
        padding: 14px 24px;
        font-size: 18px;
        color: #111827;
        line-height: 30px;
        gap: 16px;
        border-bottom: 0;
      }
    }
    .collapsible-body {
      padding: 0 0 15px 90px;
      .sub-section-list-item {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .sub-section-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        svg {
          width: 22px;
          height: 22px;
        }
        .inner-section-text {
          display: flex;
          align-items: center;
          gap: 16px;
          a {
            color: #111827 !important;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
          }
        }
      }
    }
    .course-section-wrapper {
      gap: 16px;
      .icon-svg {
        width: 32px;
        height: 32px;
      }
      .section-heading {
        color: #111827 !important;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
      }
    }

    .collapsible-icon {
      margin-inline-start: 0;
      button {
        color: #4600c7;
        &:hover{
         background-color: #4600c7;
         color: #fff; 
        }
      }
    }
  }

}

.course-sidebar{
  .heading{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 18px;
  }
  .list-unstyled{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .small{
      font-size: 14px;
      line-height: 20px;
      .btn-inline, a{
        color: #111827;
        font-weight: 500;
        display: flex;
        align-items: center;
        svg{
          color: #9CA3AF;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}