.grade-bar {
  rect {
    height: 6px;
  }

  .grade-bar__base {
    fill: #f3f3f3;
  }

  .grade-bar__divider {
    fill: #4600c7;
    width: 1px;
  }

  .grade-bar--passing {
    fill: #4600c7;
  }

  .grade-bar--current-passing {
    fill: green;
  }

  .grade-bar--current-non-passing {
    fill: yellow;
  }
}

.arrow {
  margin: 0 !important;
}

#minimum-grade-tooltip {
  .arrow::after {
    border-bottom-color: #bbbbbc;
  }

  background: #bbbbbc !important;
  filter: unset !important;
  border: 1px solid #bbbbbc !important;
  .popover-body {
    padding: 8px 11px;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #fff !important;
  }
}

#passing-grade-tooltip {
  background: green;

  .arrow::after {
    border-top-color: green;
  }
  .popover-body {
    padding: 8px 11px;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #fff !important;
  }
}

#non-passing-grade-tooltip {
  .arrow::after {
    border-top-color: #4600c7;
  }

  background: #4600c7;
  filter: unset !important;
  .popover-body {
    padding: 8px 11px;
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
  }
}
